@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- case studies section -->
<section>
    <div class="case-studies">
        <div class="container">
            <div class="title">
                <p>Project & Case Studies</p>
                <h3>Let’s Looks Our Global Projects</h3>
            </div>
            <div class="cards">
                <div class="--card">
                    <div class="image-box">
                        <img src="~/images/placeholders/adeolu-eletu-E7RLgUjjazc-unsplash.jpg" alt="">
                    </div>
                    <h5>Grow your business</h5>
                    <a class="btn-transparent" href="services.html">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>

                <div class="--card">
                    <div class="image-box">
                        <img src="~/images/placeholders/marek-levak-zANXcXyByos-unsplash.jpg" alt="">
                    </div>
                    <h5>Why your client needs a responsive website</h5>
                    <a class="btn-transparent" href="services.html">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>

                <div class="--card">
                    <div class="image-box">
                        <img src="~/images/placeholders/oli-dale-xjSkI_seiZY-unsplash.jpg" alt="">
                    </div>
                    <h5>Educate your employees to get better results</h5>
                    <a class="btn-transparent" href="services.html">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>

                <div class="--card">
                    <div class="image-box">
                        <img src="~/images/placeholders/carlos-muza-hpjSkU2UYSU-unsplash.jpg" alt="">
                    </div>
                    <h5>Business Insights is a important piece of your business</h5>
                    <a class="btn-transparent" href="services.html">Read More <i class="fa-regular fa-arrow-up-right"></i></a>
                </div>
            </div>
            
            <div class="button">
                <a class="btn-dark" href="services.html">All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>

        </div>
    </div>
</section>
