@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- meet our team section -->
<section>
    <div class="meet-our-team">
        <div class="container">
            <div class="title">
                <p>Meet Our Team</p>
                <h3>Experience Team Members</h3>
                <a class="btn-transparent" href="#">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>     
            </div>

            <div class="employees">
                <div class="content">
                    <div class="image">
                        <img src="~/images/placeholders/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="">
                    </div>
                    <h3>Kristine Palmer</h3>
                    <p>Chef Operation Officer</p>
                </div>

                <div class="content">
                    <div class="image">
                        <img src="~/images/placeholders/tony-luginsland-ZAo0cKz_IKM-unsplash.jpg" alt="">
                    </div>
                    <h3>Hanna Aubri</h3>
                    <p>Senior Consultant</p>
                </div>

                <div class="content">
                    <div class="image">
                        <img src="~/images/placeholders/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="">
                    </div>
                    <h3>Kimberly Hansen</h3>
                    <p>Senior Consultant</p>
                </div>

                <div class="content">
                    <div class="image">
                        <img src="~/images/placeholders/the-connected-narrative-N8lRH2uxih4-unsplash.jpg" alt="">
                    </div>
                    <h3>Justin Willoman</h3>
                    <p>Senior Tech Consultant</p>
                </div>
            </div>

            <nav class="item-pagination" aria-label="Page navigation">

                <a href="#" class="item-link" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-circle"></i></span>
                </a>

                <a href="#" class="item-link active"><i class="fa-solid fa-circle"></i></a>
                <a href="#" class="item-link "><i class="fa-solid fa-circle"></i></a>
                <a href="#" class="item-link "><i class="fa-solid fa-circle"></i></a>
                

                <a href="#" class="item-link" aria-label="Next">
                    <span aria-hidden="true"><i class="fa-solid fa-circle"></i></span>
                </a>

            </nav>
        </div>
    </div>
</section>