@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- subscribe section -->
<section>
    <div class="subscribe-section">
        <div class="container">
            <img src="/images/Backgrounds/background-wavy-lines.svg" alt="">
            <h2>Get News Updates By Signup</h2>

            <div class="subscribebox">
                <input type="text" placeholder="username@domain.com">
                <a class="btn-theme" href="services.html">Subscribe <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</section>