@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Testimonial section -->
<section>
    <div class="Testimonial-section">
        <div class="container">
            <div class="text">
                <p>Testimonial</p>
                <h3>What Our Client Says</h3>
            </div>
            <div class="reviews">

                <div class="review">
                    <div class="stars">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    
                    <div class="image-content">
                        <div class="image">
                            <img src="~/images/placeholders/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                        </div>
                        <div>
                            <h5>Cassandra Warren</h5>
                            <p class="role">Business Manager, Dorfus</p>
                        </div>
                    </div>
                </div>

                <div class="review">
                    <div class="stars">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    
                    <div class="image-content">
                        <div class="image">
                            <img src="~/images/placeholders/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                        </div>
                        <div>
                            <h5>Amanda Tulling</h5>
                            <p class="role">Business Manager, Dorfus</p>
                        </div>
                    </div>

                </div>

                <div class="review">
                    <div class="stars">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                    </div>
                    <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                    
                    <div class="image-content">
                        <div class="image">
                            <img src="~/images/placeholders/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                        </div>
                        <div>
                            <h5>Jack McDogglas</h5>
                            <p class="role">Key Account Manager, Gobona</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="button">
                <a class="btn-dark" href="services.html">All Reviews <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</section>